.success-section {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.success-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 80px);
}
.success-icon {
  font-size: 100px;
  margin-bottom: 5px;
  color: #74cd5c;
}
.success-title {
  font-size: 20px;
  font-weight: 700;
  color: $main-color;
  margin-bottom: 15px;
}
.success-pargh {
  font-size: 18px;
  font-weight: 400;
  color: $main-color;
  margin-bottom: 30px;
  text-align: center;
}
.success-cont .first-btn {
  margin: 0;
  width: 166px;
  height: 50px;
  text-decoration: none !important;
}
.success-section .img-logo {
  text-align: center;
  margin-top: 50px;
  img {
    max-width: 160px;
  }
}
@include max-767 {
  .success-section .img-logo img {
    max-width: 110px;
  }
}
